<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <script type="module">
    import { reactive, effect } from './reactivity.js';

    const obj = {
      name: '菠萝吹雪1',
      age: 2,
      flag: true,
      info: {
        address: '智慧谷'
      }
    }
    const state = reactive(obj)

    effect(() => {
      app.innerHTML = state.info.address
      // state.name = Math.random()
    })

    setTimeout(() => {
      state.info.address = '智慧谷2'
    }, 1000)
    
  </script>
</body>
</html>