<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style></style>
  <body>
    <style>
      /* 下面我们会解释这些 class 是做什么的 */
      .v-enter-active,
      .v-leave-active {
        transition: opacity 1.3s ease;
      }

      .v-enter-from,
      .v-leave-to {
        opacity: 0;
      }
    </style>
    <div id="app"></div>
    <script type="module">
      import {
        // createRenderer,
        // render,
        // h,
        // Text,
        // Fragment,
        // Transition,
        // onMounted,
        // KeepAlive,
      } from "/node_modules/@vue/runtime-dom/dist/runtime-dom.esm-browser.js";

      import {
        createRenderer,
        render,
        h,
        Text,
        Fragment,
        ref,
        Transition,
        KeepAlive,
        onMounted,
      } from "./runtime-dom.js";

      /**
       *
       * KeepAlive 组件
       * 1.组件不会被重新创建，会将上次的结果拿出来复用
       * 2.组件不会被卸载，而是将dom移除
       * 3.内部需要缓存dom
       * */
      let keepAliveProps = { max: 1 }
      const A1 = {
        name: 'a1',
        setup() {
          onMounted(() => {
            console.log("a1 mounted");
          });
          return () => {
            return h("h1", "a1");
          };
        },
      };
      const A2 = {
        name: 'a2',
        setup() {
          onMounted(() => {
            console.log("a2 mounted");
          });
          return () => {
            return h("h1", "a2");
          };
        },
      };
      const A3 = {
        name: 'a3',
        setup() {
          onMounted(() => {
            console.log("a3 mounted");
          });
          return () => {
            return h("h1", "a3");
          };
        },
      };

      render(
        h(KeepAlive, keepAliveProps, {
          default: () => h(A1, { key: 'a1' }),
        }),
        app
      );

      setTimeout(() => {
        render(
          h(KeepAlive, keepAliveProps, {
            default: () => h(A2, { key: 'a2' }),
          }),
          app
        );
      }, 1000);

      setTimeout(() => {
        render(
          h(KeepAlive, keepAliveProps, {
            default: () => h(A1, { key: 'a1' }),
          }),
          app
        );
      }, 3000);
    </script>
  </body>
</html>
