<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <script type="module">
    import { 
      // ref,
      // createRenderer, 
      // render,
      // h,
      // Text,
      // Fragment,
      // onBeforeMount,
      // onMounted,
      // onBeforeUpdate,
      // onUpdated,
      // provide,
      // inject
    } from '/node_modules/@vue/runtime-dom/dist/runtime-dom.esm-browser.js'

    import {
      ref,
      createRenderer, 
      render,
      h,
      Text,
      Fragment,
      onBeforeMount,
      onMounted,
      onBeforeUpdate,
      onUpdated,
      getCurrentInstance,
      provide,
      inject
    } from './runtime-dom.js' 


    const P3 = {
      name: 'P3',
      setup(props) {  
        const name = inject('name')
        return () => {
          return h('div', {
            onClick() {
              name.value = '李四'
            }
          }, [name.value])
        }
      }
    }
    const P2 = {
      name: 'P2',
      render() {
        return h(P3)
      }
    }
    const P1 = {
      name: 'P1',
      setup(props) {
        const name = ref('张三')
        provide('name', name)
        return () => h(P2)
      }
    }

    render(h(P1), app)
  </script>
</body>
</html>