<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <script type="module">
    import { 
      // createRenderer, 
      // render,
      // h,
      // Text,
      // Fragment
    } from '/node_modules/@vue/runtime-dom/dist/runtime-dom.esm-browser.js'

    import {
      createRenderer, 
      render,
      h,
      Text,
      Fragment
    } from './runtime-dom.js' 

    /**
     * 组件更新 状态 属性 插槽
     * 
    */

    const RenderComponent = {
      render(proxy) {
        return h(Fragment, [
          proxy.$slots.footer('fff'),
          proxy.$slots.header('hhh'),
        ])
      }
    }
    const VueComponent = {
      setup(propxy, {emit, attrs, expose, slots}) {
        return (proxy) => {
          return h(RenderComponent, null, {
              header: (t) => h('header', 'header' + t),
              footer: (t) => h('footer', 'footer' + t),
          })
        }
      }
    }
    render(h(VueComponent, {}), document.querySelector('#app'))
  </script>
</body>
</html>