<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"></div>
  <script type="module">
    import { 
      // createRenderer, 
      // render,
      // h,
      // Text,
      // Fragment
    } from '/node_modules/@vue/runtime-dom/dist/runtime-dom.esm-browser.js'

    import {
      createRenderer, 
      render,
      h,
      Text,
      Fragment
    } from './runtime-dom.js' 
    const VueComponent = {
      props: {
        name: String,
        age: Number
      },
      // data: () => {
      //   return {
      //     age: 100
      //   }
      // },
      render: (props) => {
        // this.age = 100
        // Promise.resolve().then(() => {
        //   console.log('promise')
        //   // this.age = 200
        // })
        console.log(props)
        // this 指向 VueComponent 实例
        return h(Fragment, [h(Text, 'hello' + props.name), h(Text, 'age:' + props.$attrs.a)])
      }
    }
    console.log('first')
    // 组件两个虚拟节点，h(VueComponent) 是组件的虚拟节点
    // render 函数返回的虚拟节点，才是要渲染的内容
    render(h(VueComponent, { a: 1, b: 2, name: '段金成', age: 13 }), document.querySelector('#app'))
  </script>
</body>
</html>