<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style></style>
  <body>
    <div id="app"></div>
    <script type="module">
      // import // createElementVNode as _createElementVNode,
      // toDisplayString as _toDisplayString,
      // openBlock as _openBlock,
      // createElementBlock as _createElementBlock,
      // toRefs,
      // render,
      // h,
      // reactive
      // '/node_modules/vue/dist/vue.esm-browser.js'

      import * as moduleTotal from './runtime-dom.js'
      const {
        createELementBlock: _createElementBlock,
        // toDisplayString,
        openBlock,
        render,
        h,
        reactive,
        toRefs,
        openBlock: _openBlock,
        // createElementBlock: _createElementBlock,
        createVnode: _createElementVNode,
        toDisplayString: _toDisplayString
      } = moduleTotal
      // console.log(createELementBlock, moduleTotal)
      const MyComponent = {
        name: 'MyComponent',
        setup() {
          const state = reactive({ flag: true, a: 1, b: 2  })

          setTimeout(() => {
            state.flag = false
          }, 2000)
          return {
            ...toRefs(state)
          }
        },
        render(_ctx) {
          const vnode =
            (_openBlock(),
            _createElementBlock('div', null, [
              _ctx.flag
                ? (_openBlock(),
                  _createElementBlock('a', { key: 0 }, [
                    _createElementVNode(
                      'span',
                      null,
                      _toDisplayString(_ctx.a),
                      1 /* TEXT */
                    )
                  ]))
                : (_openBlock(),
                  _createElementBlock('div', { key: 1 }, [
                    _createElementVNode(
                      'span',
                      null,
                      _toDisplayString(_ctx.b),
                      1 /* TEXT */
                    )
                  ]))
            ]))
          console.log('vnode', vnode)
          return vnode
        }
      }

      render(h(MyComponent), app)
    </script>
  </body>
</html>
